# Android Studio / IntelliJ IDEA
*.iml
.idea/*
!.idea/codeStyles
!.idea/codeStyles/*

# Gradle
.gradle
/local.properties
local.properties

# macOS system files
.DS_Store

# Build output
/build
/captures
.externalNativeBuild
.cxx
